In [2]:
import pandas as pd
import numpy as np
import csv

In [54]:
ceo = pd.read_csv('CEO name.csv', engine = "python", index_col=False, skiprows = 1, 
    encoding ='utf-8', header=None, na_values = '-')
ceo.columns  = ceo.columns  = ['CO_PER_ROL', 'YEAR', 'CUSIP', 'CONAME', 'EXEC_FNAME', 'EXEC_FULLNAME', 'EXEC_LNAME', 'EXEC_MNAME',	'CEOANN']
ceo = ceo.drop_duplicates()
ceo = ceo[ceo.YEAR == 2017]
ceo = ceo.filter(items=['CO_PER_ROL',  'YEAR', 'EXEC_FULLNAME'])

In [55]:
ceo_2017 = pd.read_csv('CEO_2017_pre.csv', engine = "python", index_col=False, skiprows = 1, 
    encoding ="ISO-8859-1", header=None, na_values = '-')
ceo_2017.columns  = ['CO_PER_ROL', 'YEAR', 'CUSIP', 'CONAME', 'EXEC_FNAME', 'EXEC_LNAME', 'TWITTER', 'T_NAME', 'Search Date', 'company related', 'personal related', 'Note', 'Note2']
ceo_tweet_2017 = ceo_2017.filter(items=['CO_PER_ROL', 'YEAR', 'T_NAME'])
ceo_tweet_2017.loc[ceo_tweet_2017.T_NAME.isna()]

ceo_tweet_2017.shape

(1586, 3)

In [59]:
result = pd.merge(ceo, ceo_tweet_2017,on=['CO_PER_ROL',  'YEAR'], how='outer')
result.loc[result.T_NAME.isna()]

Empty DataFrame
Columns: [CO_PER_ROL, YEAR, EXEC_FULLNAME, T_NAME]
Index: []

In [60]:
result.to_csv(r'CEO_2017.csv', sep=',', encoding='utf-8', index=False)