In [1]:
from google.cloud import bigquery
client = bigquery.Client.from_service_account_json(r'C:\Users\amand\project\RA_WORK_CONTENT_BQ.json')
%load_ext google.cloud.bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]=r'C:\Users\amand\project\RA_WORK_CONTENT_BQ.json'

import pandas as pd
table = '[ra-work-content.ceo_tweet_streaming.search_with_discription_sentiment]'
import pandas_gbq
import logging

In [2]:
import tweepy
from tweepy import OAuthHandler
import sys
sys.path.append(r'C:\Users\amand\project')
import twitterkey
auth = OAuthHandler( twitterkey.consumer_key, twitterkey.consumer_secret)
auth.set_access_token(twitterkey.access_token, twitterkey.access_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

## extract id of whom ceo reply to

In [3]:
sql_query="""
select string(reply_to_user_id) as reply_to_user_id
from(
select reply_to_user_id
from %s
where  reply_to_user_id  is not null
group by reply_to_user_id)
"""%(table)

query_config = bigquery.QueryJobConfig(use_legacy_sql=True)
ceo_reply = client.query(sql_query, job_config=query_config, location='US').to_dataframe()
ceo_reply.head(10)

     reply_to_user_id
0           169686021
1           377723724
2            17617227
3            45090120
4          3751591514
5            41068931
6           594175899
7             7745472
8  912359571947085824
9            53853197

## getting description of whom ceo reply to

In [9]:
tweetCount = 1
reply_cnt = 0
result_cnt = 0
no_twitter_cnt = 0
fail = 0
reply_to_id = []
reply_to_description = []
for index, row in ceo_reply.iterrows():

    id = row['reply_to_user_id']
    reply_cnt += 1

    try:
        tweet = api.user_timeline(user_id=id, count=tweetCount, wait_on_rate_limit_notify=True, wait_on_rate_limit=True)
        if tweet == []:
            no_twitter_cnt += 1
            continue
        else: 
            result_cnt += 1
            for line in tweet:
                reply_to_id.append(id)
                reply_to_description.append(line.user.description)
    except tweepy.TweepError:
        fail += 1

Rate limit reached. Sleeping for: 250
Rate limit reached. Sleeping for: 252
Rate limit reached. Sleeping for: 245
Rate limit reached. Sleeping for: 246
Rate limit reached. Sleeping for: 245
Rate limit reached. Sleeping for: 239
Rate limit reached. Sleeping for: 237
Rate limit reached. Sleeping for: 245
Rate limit reached. Sleeping for: 242
Rate limit reached. Sleeping for: 246
Rate limit reached. Sleeping for: 234
Rate limit reached. Sleeping for: 214
Rate limit reached. Sleeping for: 224
Rate limit reached. Sleeping for: 224

In [10]:
    
rid = pd.Series(reply_to_id)   
des = pd.Series(reply_to_description)
reply_description = pd.concat([rid, des, ], axis=1)
reply_description.columns =['reply_to_user_id', 'reply_to_user_description']
pd.set_option('display.max_colwidth', -1)
reply_description.head(10)

,reply_to_user_id,reply_to_user_description
0,525058171,"Follow me as I witness the #ImagingofThings possible by #DigitalPrint & workflow software, through visits w/customers, partners, EFI colleagues, industry events"
1,69575718,Software Development Manager @Ubisoft
2,2537353346,"Technology YouTuber, F1 Fan and a Scotsman...living in Sweden. ----- Business inquiries to jim.parker@adoredtv.com"
3,2504708178,カープファン。日々くだらない事を書き綴る。野球実況で貴方のタイムライン占拠注意。自作PC・ギター・DTM等。
4,14861876,Official corporate news about the AMD technology enabling today and inspiring tomorrow.
5,15842301,
6,10865992,"Founder & full-time chairman @fnatic. Founder @NEVERBLAND. Lover of life, kale and design. Unprofessional DJ..."
7,896152072701308928,https://t.co/Dv5MqfY1gy
8,14904260,Computer Architect | Chief Arm Architect | Distinguished Engineer @ Red Hat | #ARMServers | Author | Linux Kernel | Hiker | Marathon Runner | views my own.
9,18695891,"CEO @CTATech, the leading tech trade association and producer of @CES. Author of Ninja Innovation and The Comeback. My new book #NinjaFuture available now."

In [13]:

logger = logging.getLogger('pandas_gbq')
logger.setLevel(logging.DEBUG)
logger.addHandler(logging.StreamHandler())
reply_description.to_gbq('ceo_tweet_streaming.reply_to_description', 'ra-work-content')

12949 out of 12949 rows loaded.
12949 out of 12949 rows loaded.
12949 out of 12949 rows loaded.
12949 out of 12949 rows loaded.

## getting screen name of whom ceo reply to

### note: the def of screen name and name is the opposite of tweepy definition

In [8]:
tweetCount = 1
reply_cnt = 0
result_cnt = 0
no_twitter_cnt = 0
fail = 0
reply_to_id = []
reply_to_screen_name = []
for index, row in ceo_reply.iterrows():

    id = row['reply_to_user_id']
    reply_cnt += 1

    try:
        tweet = api.user_timeline(user_id=id, count=tweetCount, wait_on_rate_limit_notify=True, wait_on_rate_limit=True)
        if tweet == []:
            no_twitter_cnt += 1
            continue
        else: 
            result_cnt += 1
            for line in tweet:
                reply_to_id.append(id)
                reply_to_screen_name.append(line.user.name)
    except tweepy.TweepError:
        fail += 1

In [9]:
rid = pd.Series(reply_to_id)   
scn = pd.Series(reply_to_screen_name)
reply_screen_name = pd.concat([rid, scn, ], axis=1)
reply_screen_name.columns =['reply_to_user_id', 'reply_to_user_screen_name']
pd.set_option('display.max_colwidth', -1)
reply_screen_name.head(10)

     reply_to_user_id reply_to_user_screen_name
0  15842301            Fake Gordon Mah Ung
1  90696334            Xbox Juan ✖️
2  12                  jack
3  72425137            Eric Markowitz
4  4614117694          Adam Cooper
5  713456083499683841  Patrick O Brien
6  44196397            Elon Musk
7  942462285091520518  Kinetic Linking
8  3786665177          Niloofar Sh
9  996072332492918784  Nathan Sarti

In [15]:
logger = logging.getLogger('pandas_gbq')
logger.setLevel(logging.DEBUG)
logger.addHandler(logging.StreamHandler())
reply_screen_name.to_gbq('ceo_tweet_streaming.reply_to_screen_name', 'ra-work-content')

199 out of 199 rows loaded.

## getting description of ceo's follower

In [3]:
table = '[ra-work-content.ceo_tweet_streaming.account_2017_14]'

sql_query="""
select LTRIM(id_str, "'" ) as id 
from(
select  id_str 
from %s
group by id_str) 
"""%(table)

query_config = bigquery.QueryJobConfig(use_legacy_sql=True)
ceo = client.query(sql_query, job_config=query_config).to_dataframe()
ceo.head(10)

                   id
0           244647486
1          3145493639
2  737989529827704832
3           382320511
4          1006190022
5            16367208
6            14155407
7            42241370
8           247990726
9  978249660983889921

In [4]:
c_id = []
f_id = []
f_description = []
f_name = []
f_screen_name = []
fail = 0
cnt = 0

for index, row in ceo.iterrows():
    id = row['id']   
    try: 
        cnt += 1

        tweet = tweepy.Cursor(api.followers, user_id=id,  wait_on_rate_limit =True, wait_on_rate_limit_notify=True).items()
        if tweet == []:
            continue
            
        else: 
            for line in tweet:
                c_id.append(id)
                f_id.append(line.id)
                f_name.append(line.screen_name)
                f_screen_name.append(line.name) 
                f_description.append(line.description) 

    except tweepy.TweepError:
        fail += 1

Rate limit reached. Sleeping for: 438

In [5]:
c_id = pd.Series(c_id)
f_id = pd.Series(f_id)
f_name = pd.Series(f_name)
f_screen_name = pd.Series(f_screen_name)
f_description = pd.Series(f_description)
follower = pd.concat([c_id, f_id, f_name, f_screen_name, f_description], axis=1)
follower.columns =['ceo_id', 'f_id', 'f_name', 'f_screen_name', 'f_description']

pd.set_option('display.max_colwidth', -1)
follower.head(10)

,ceo_id,f_id,f_name,f_screen_name,f_description
0,244647486,1124961149668155392,b_p_vy,Vy,
1,244647486,982266586772975616,MOjuroye,m.ojuroye@gmail.com,Oye Michael Ojuoye
2,244647486,1252704264,RoannyLL,Roanny Lamas López,
3,244647486,999002076842782721,GainsAssociates,GAINS Associates,Crypto News / ICO reviews / Analysis / Crypto Knowledge / Insights / Investment Opportunities
4,244647486,1123699154566418433,KendraVien,KENDRA VIEN,FOR I AM KENDRA GOD MAKES ME SPECAL TO SHINE
5,244647486,1120937739355078656,Vanessa04013019,Vanessa Wilson,"In your arms, I find the true comfort of my life, Is this love? I asked my heart, Yes, it is said my heart, Now, that I love you so much,"
6,244647486,2886353518,dimitrios230,dimitris papaxristou,
7,244647486,91198033,schas33,S Chas,
8,244647486,1123956194832519176,DomainSupports,DomainSupports.Com,Need a Proper Name For Your Startup ??? Message Basic Details and Ur Budget. We will Link you to hundreds of Best Available Brand names to choose from.
9,244647486,798160347995799552,pogosovart,Artem Pogosov,Head of Sales at @elligense_com | Building #software the way you want

In [7]:

logger = logging.getLogger('pandas_gbq')
logger.setLevel(logging.DEBUG)
logger.addHandler(logging.StreamHandler())
follower.to_gbq('ceo_tweet_streaming.follower_description_jn', 'ra-work-content')

40 out of 40 rows loaded.
40 out of 40 rows loaded.