In [11]:
from google.cloud import bigquery
client = bigquery.Client.from_service_account_json(r'C:\Users\amand\project\RA_WORK_CONTENT_BQ.json')
%load_ext google.cloud.bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]=r'C:\Users\amand\project\RA_WORK_CONTENT_BQ.json'

import pandas as pd
table = '[ra-work-content.ceo_tweet_streaming.search_2017_14_backup]'
import pandas_gbq
import logging

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

In [12]:
import tweepy
from tweepy import OAuthHandler
import sys
sys.path.append(r'C:\Users\amand\project')
import twitterkey
auth = OAuthHandler( twitterkey.consumer_key, twitterkey.consumer_secret)
auth.set_access_token(twitterkey.access_token, twitterkey.access_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

## getting description of whom ceo reply to

In [13]:
sql_query="""
select string(reply_to_user_id) as reply_to_user_id
from(
select reply_to_user_id
from %s
where  reply_to_user_id  is not null
group by reply_to_user_id)
"""%(table)

query_config = bigquery.QueryJobConfig(use_legacy_sql=True)
ceo_reply = client.query(sql_query, job_config=query_config).to_dataframe()
ceo_reply.head(10)

     reply_to_user_id
0           525058171
1            69575718
2          2537353346
3          2504708178
4            14861876
5            15842301
6            10865992
7  896152072701308928
8            14904260
9            18695891

In [24]:
tweetCount = 1
reply_cnt = 0
result_cnt = 0
no_twitter_cnt = 0
fail = 0
reply_to_id = []
reply_to_description = []
for index, row in ceo_reply.iterrows():
    if reply_cnt == 3:
        break
    id = row['reply_to_user_id']
    reply_cnt += 1

    try:
        tweet = api.user_timeline(user_id=id, count=tweetCount, wait_on_rate_limit_notify=True, wait_on_rate_limit=True)
        if tweet == []:
            no_twitter_cnt += 1
            continue
        else: 
            result_cnt += 1
            for line in tweet:
                reply_to_id.append(id)
                reply_to_description.append(line.user.description)
    except tweepy.TweepError:
        fail += 1

In [29]:
    
rid = pd.Series(reply_to_id)   
des = pd.Series(reply_to_description)
reply_description = pd.concat([rid, des, ], axis=1)
reply_description.columns =['reply_to_user_id', 'reply_to_user_description']
pd.set_option('display.max_colwidth', -1)
reply_description.head(10)

,reply_to_user_id,reply_to_user_description
0,525058171,"Follow me as I witness the #ImagingofThings possible by #DigitalPrint & workflow software, through visits w/customers, partners, EFI colleagues, industry events"
1,69575718,Software Development Manager @Ubisoft
2,2537353346,"Technology YouTuber, F1 Fan and a Scotsman...living in Sweden. ----- Business inquiries to jim.parker@adoredtv.com"

In [ ]:

logger = logging.getLogger('pandas_gbq')
logger.setLevel(logging.DEBUG)
logger.addHandler(logging.StreamHandler())
ceo_reply.to_gbq('ceo_tweet_streaming.reply_to_description', 'ra-work-content')

## getting description of ceo's follower

In [ ]:
table = '[ra-work-content.ceo_tweet_streaming.account_2017_14]'

sql_query="""
select LTRIM(id_str, "'" ) as id 
from(
select  id_str 
from %s
group by id_str) 
"""%(table)

query_config = bigquery.QueryJobConfig(use_legacy_sql=True)
ceo = client.query(sql_query, job_config=query_config).to_dataframe()
ceo.head(10)

In [ ]:
c_id = []
f_id = []
f_description = []
f_name = []
fail = 0

for index, row in ceo.iterrows():
    id = row['id']   
    try:
        tweet = tweepy.Cursor(api.followers_list, user_id=id,  wait_on_rate_limit =True, wait_on_rate_limit_notify=True).items()

        if tweet == []:
            continue
            
        else: 
            for line in tweet:
                c_id.append(id)
                f_id.append(line.user.id)
                f_name.append(line.user.name)
                f_description.append(line.user.description) 
    except tweepy.TweepError:
        fail += 1
    break

In [ ]:
c_id = pd.Series(c_id)
f_id = pd.Series(f_id)
f_name = pd.Series(f_name)
f_description = pd.Series(f_description)
follower = pd.concat([c_id, f_id, f_name, f_description], axis=1)
follower.columns =['ceo_id', 'f_id', 'f_name', 'f_description']

pd.set_option('display.max_colwidth', -1)
follower.head(10)

In [ ]:

# logger = logging.getLogger('pandas_gbq')
# logger.setLevel(logging.DEBUG)
# logger.addHandler(logging.StreamHandler())
# ceo_reply.to_gbq('ceo_tweet_streaming.follower_description', 'ra-work-content')